@use "../../styles/colors";
@use "../../styles/mixins";

.button {
  padding: 14px 32px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  min-width: 170px;
}

.button-container--default {
  background-color: colors.$lightGrey;
}
.button-container--primary {
  background-color: colors.$primary;
  &:hover {
    background-color: colors.$dark;
  }
}
.button-container--white {
  background-color: colors.$white;
  &:hover {
    background-color: colors.$borderGrey;
  }
}

.button-container--danger {
  background-color: colors.$red;
  &:hover {
    background-color: colors.$blurredRed;
  }
}

.button-text--default,
.button-text--white {
  @include mixins.text(16px);
}
.button-text--primary,
.button-text--danger {
  @include mixins.text(16px, colors.$white);
}
