$dark: rgba(42, 37, 75, 1);
$primary: rgba(78, 77, 147, 1);
$lightGrey: rgba(249, 249, 249, 1);
$borderGrey: rgba(235, 232, 244, 1);
$white: rgba(255, 255, 255, 1);
$borderDark: rgba(202, 198, 218, 1);
